@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::before, *::after{
  box-sizing: border-box;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----Utility Classes ----*/
button{
  all:unset;
}

.bold{
  font-weight:bold;
}

.semi-bold{
  font-weight: 500;
}

.roboto{
  font-family: var(--Roboto-font);
}

.source{
  font-family: var(--Source-font);
}

.XIIIpt{
  font-size: var(--13pt);
}

.XIVpt{
  font-size: var(--14pt);
}

.XVIpt{
  font-size: var(--16pt);
}

.XXIVpt{
  font-size: var(--24pt);
}

.XXXIIpt{
  font-size: var(--32pt);
}

.XXXVpt{
  font-size: var(--35pt);
}

.margin-center{
  margin:0 auto;
}

.text-center{
  text-align: center;
}

.underline{
  text-decoration: underline;
}

/*----Global Styles -----*/
:root{
  font-size:12px;
  --Roboto-font: 'Roboto', sans-serif;
  --Source-font:'Source Sans Pro', sans-serif;
  --13pt:1.083rem;
  --14pt:1.18083rem;
  --16pt:1.333rem;
  --24pt:2rem;
  --32pt:2.667rem;
  --35pt:2.9167rem;
  --white:#FFFFFF;
}

/*---- HEADER ----*/
.--header{
  display:grid;
  grid-template-columns: 1em 35px auto auto 1em;
  align-items: center;
  min-height:59px;
}

.--header-logo{
  grid-column: 2/3;
}

.--header-logo-span{
  margin-left:.25em;
}

.--navigation{
  font-size:34px;
  justify-self: end;
}

.--navigation-links{
  display:none;
}

.--collapsed-nav{
  display:none;
  text-align:center;
  margin:0 1em;
}

.--collapsed-nav ul li{
  padding:1em 0;
  border-top:2px solid black;
}

.--collapsed-nav ul li a{
  text-decoration: none;
  color:#090909;
  cursor: pointer;
}

.--collapsed-nav ul li:hover,
.--collapsed-nav ul li:focus{
  background-color:black;
}

.--collapsed-nav ul li:hover a,
.--collapsed-nav ul li:focus a{
  color:var(--white);
}

/*---- HERO SECTION ----*/
.--hero-section{
  display:grid;
  grid-template-columns: 1em 100px auto 1em;
  grid-template-rows:100px auto auto;
  color:var(--white);
}

.--hero-section:hover{
  cursor: pointer;
}

.--hero-section-date{
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
}

.--hero-section-title,
.--hero-section-body,
.--post-section-title,
.--post-section-body{
  max-width:420px;
}

.--hero-section-title,
.--post-section-title{
  padding:.667em 0;
}

.--hero-section-title{
  grid-column: 2/4;
  grid-row:2/3;  
}

.--hero-section-body,
.--post-section-body{
  padding-bottom:2.083em;
}

.--hero-section-body{
  grid-column: 2/4;
  grid-row:3/4;
  
}

.--fit-img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.--hero-img{
  grid-column: 1/5;
  grid-row:1/4;
}

/*---- ABOUT ----*/
.--about-body{
  padding:.5em 0 1em;
}

/*---- POST ----*/
.--post-section-date{
  padding-top: 2.667em;
}

/*---- JOURNEY ----*/
.--journey-title,
.--journey-para{
 padding:.5em 0; 
}
/*---- ARTICLES ----*/
.--post-main-content,
.--about-main-content,
.--article-listings{
  margin:1em 1em 3.583em;
}

.--avatar-img,
.--recent-posts-title{
  padding:2.25em 0;
}

.--article-listings-more{
  display:block;
}

.--blog-four,
.--blog-five,
.--blog-six,
.--article-listings-less{
  display:none;
}

.--article{
  margin-bottom:3.4167em;
}

.--article-date{
  margin:1.167em 0;
}

.--article-title{
  margin-bottom:.75em;
}
/*---- FOOTER STYLES ----*/
footer{
  background-color:#202020;
  height:105px;
}
.--footer-title{
  color:#ECECEC;
  padding:3.083em 0 0;
}

.--footer-copyright{
  color:#D7D7D7;
  margin:.25em 0;
}

@media (min-width:1085px) {
  .--header{
    grid-template-columns: 2.833em 35px auto auto 2.833em;
  }

  .--hero-section{
    grid-template-columns: 2.833em 100px auto 2.833em;
    grid-template-rows:250px auto auto;
  }

  .--nav-toggle{
    display:none;
  }

  .--navigation-links{
    display:inline;
    text-decoration: none;
    color:#090909;
    cursor: pointer;
  }

  .--about-section{
    display:grid;
    grid-template-columns: 236px auto;
    grid-template-rows:150px auto;
  }

  .--avatar-img{
    grid-column: 1/2;
    grid-row:1/3;
  }

  .--about-title{
    align-self: end;
    grid-column:2/3;
    grid-row:1/2;
  }

  .--about-body{
    grid-column: 2/3;
    grid-row:2/3;
  }

  .--journey-section{
    padding:0 9.083em;
  }

  .--post-hero-section{
    display:grid;
    grid-template-columns: 1em 8.083em auto 8.083em 1em;
    grid-template-rows:auto auto auto auto;
  }

  .--post-section-date{
    grid-column: 3/4;
    grid-row:1/2;
  }

  .--post-section-title{
    grid-column: 3/4;
    grid-row:2/3;
    max-width: unset;
  }

  .--post-section-body{
    grid-column: 3/4;
    grid-row:3/4;
    max-width: unset;
  }

  .--post-section-img{
    grid-column: 2/5;

  }

  .--article-listings{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(309px, 1fr));
    grid-template-rows:1fr 1fr;
    margin:1em 2.83em 1em;
    gap:2.1667em;
  }

  .--recent-post-grid{
    grid-template-rows: 54px auto;
  }

  .--recent-posts-title{
    grid-column:1/-1;
  }

  .--article{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1em minmax(232px, 1fr) auto auto auto 1em;
  }

  .--article-img{
    grid-row: 2/3;
  }

  .--article-date{
    grid-row:3/4;
  }

  .--article-title{
    grid-row:4/5;
  }

  .--article-body{
    grid-row:5/6;
  }

  .--article-listings-more,
  .--article-listings-less{
    display:none;
  }
}